/* _sass/_dark-theme.scss */
body {
  background-color: #121212;
  color: #ffffff;
}

a {
  color: #bb86fc;
}

.navbar {
  background-color: #333333;
}

/* Add other custom styles as needed */
/*- Custom style -*/

// -- Put custom style under this point -- //
